{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    {# Message pour avertir les candidats que leur compte n'a pas été accepté #}
    {% for message in app.flashes('erreur_autorisation_candidat') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {# Message pour avertir les recuteur que leur compte n'a pas été accepté #}
    {% for message in app.flashes('erreur_autorisation_recruiter') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <p>Page d'accueil</p>

    <h1>Liste des jobs à pourvoir</h1>
    <di>
        <h3>Vous avez la possibilité de postuler au différent job proposé en vous créant un compte</h3>
    </di>
    {% for job in jobs %}
        {% if job.isAccepted == true %}
            <table class="table">
                <thead>
                <tr>
                    <th>Titre de l'annonce</th>
                    <th>Type de contrat</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Nombre d'heures semaine</th>
                    <th>Salaires mensuel</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.typeContrat }}</td>
                    <td>{{ job.startDate ? job.startDate|date('d-m-Y') : '' }}</td>
                    <td>{{ job.endDate ? job.endDate|date('d-m-Y') : 'Pas de date de fin de contrat' }}</td>
                    <td>{{ job.time }}</td>
                    <td>{{ job.salary }}€</td>
                </tr>
                </tbody>
            </table>

        {% endif %}


    {% endfor %}


{% endblock %}
