{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}


{% block body %}
    {# Message pour avertir les candidats que leur compte n'a pas été accepté #}
    {% for message in app.flashes('erreur_autorisation_candidat') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {# Message pour avertir les recuteur que leur compte n'a pas été accepté #}
    {% for message in app.flashes('erreur_autorisation_recruiter') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <header>
        <h1 class="accueil-titre">Bienvenue sur notre site </h1>
        <p  class="accueil-presentation">TRT Conseil est une agence de recrutement spécialisée dans l’hôtellerie et la restauration. Fondée en
            2014, la société s’est agrandie au fil des ans et possède dorénavant plus de 12 centres dispersés aux
            quatre coins de la France</p>
    </header>



    <h3>Liste des jobs à pourvoir : </h3>

    <div class="infos">
        <p>Vous avez la possibilité de postuler aux différents jobs proposés ainsi que de déposer des annonces en vous créant un compte.</p>
        <form action="{{ path('search-accueil') }}" class="d-flex justify-content-end">
            <input type="text" name="search"  placeholder="ex : Serveur">
            <input type="submit"  value="Rechercher">
        </form>
    </div>


    {% for job in jobs %}
        {% if job.isAccepted == true %}
            <table class="table">
                <thead>
                <tr>
                    <th>Titre de l'annonce</th>
                    <th>Type de contrat</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Nombre d'heures semaine</th>
                    <th>Salaires mensuel</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.typeContrat }}</td>
                    <td>{{ job.startDate ? job.startDate|date('d-m-Y') : '' }}</td>
                    <td>{{ job.endDate ? job.endDate|date('d-m-Y') : 'Pas de date de fin de contrat' }}</td>
                    <td>{{ job.time }}</td>
                    <td>{{ job.salary }}€</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p>Nous avons actuelement aucun job a vous présenter, mais n'hésité pas revenir pour êtres au courant des nouveauté ! À bientôt !</p>
    {% endfor %}


{% endblock %}
