{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    {# Message pour avertir les candidats que leur compte n'a pas été accepté #}
    {% for message in app.flashes('erreur_autorisation_candidat') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {# Message pour avertir les recuteur que leur compte n'a pas été accepté #}
    {% for message in app.flashes('erreur_autorisation_recruiter') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}



    <p  class="acc">Page d'accueil</p>
    <di>
        <p>Vous avez la possibilité de postuler aux différents jobs proposés ainsi que de déposer des annonces en vous créant un compte.</p>
    </di>
    <h3>Liste des jobs à pourvoir</h3>
    <form action="{{ path('search-accueil') }}" class="d-flex justify-content-end">
        <input type="text" name="search"  placeholder="ex : Serveur">
        <input type="submit"  value="Rechercher">
    </form>

    {% for job in jobs %}
        {% if job.isAccepted == true %}
            <table class="table">
                <thead>
                <tr>
                    <th>Titre de l'annonce</th>
                    <th>Type de contrat</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Nombre d'heures semaine</th>
                    <th>Salaires mensuel</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.typeContrat }}</td>
                    <td>{{ job.startDate ? job.startDate|date('d-m-Y') : '' }}</td>
                    <td>{{ job.endDate ? job.endDate|date('d-m-Y') : 'Pas de date de fin de contrat' }}</td>
                    <td>{{ job.time }}</td>
                    <td>{{ job.salary }}€</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p>Nous avons actuelement aucun job a vous présenter, mais n'hésité pas revenir pour êtres au courant des nouveauté ! À bientôt !</p>
    {% endfor %}


{% endblock %}
