{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Accepter ou refuser le job </h1>
        <p><strong>Nom du job : </strong>{{ job.title }}</p>
    {{ form_start(form) }}
    <p>{{ form_widget(form.is_accepted) }} (Cocher la case pour accepter l'utilisateur)</p>

    <button class="btn btn-primary">{{ button_label|default('Mettre a jour') }}</button>
    <a class=" float-end" href="{{ path('user_index') }}">Retour à la liste</a>


    {{ form_end(form) }}
{% endblock %}
