{{ form_start(form) }}
   {# {{ form_widget(form) }} #}
<div>
    <p><strong>Email</strong> : {{ user.email }} <br></p>
    <p><strong>Accepter l'utilisateur</strong> : {{ form_widget(form.is_accepted) }} </p>
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}









